# 00 - T·ªïng Quan D·ªØ Li·ªáu Ban ƒê·∫ßu

## M·ª•c ti√™u:
- N·∫°p d·ªØ li·ªáu g·ªëc v√† xem t·ªïng quan.
- Th·ªëng k√™ nhanh c√°c c·ªôt d·∫°ng s·ªë v√† ph√¢n lo·∫°i.
- Ph√°t hi·ªán s∆° b·ªô d·ªØ li·ªáu nhi·ªÖu, sai l·ªách ho·∫∑c thi·∫øu.
- ƒê·ªãnh h∆∞·ªõng cho b∆∞·ªõc l√†m s·∫°ch ·ªü `01_data_cleaning.ipynb`.

In [5]:
import pandas as pd

# ƒê·ªçc d·ªØ li·ªáu g·ªëc
df = pd.read_csv("../data/raw/Student Depression Dataset.csv")

# Xem k√≠ch th∆∞·ªõc
print("K√≠ch th∆∞·ªõc d·ªØ li·ªáu:", df.shape)

# Hi·ªÉn th·ªã 5 d√≤ng ƒë·∫ßu
df.head()

K√≠ch th∆∞·ªõc d·ªØ li·ªáu: (27901, 18)

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,2,Male,33.0,Visakhapatnam,Student,5.0,0.0,8.97,2.0,0.0,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
1,8,Female,24.0,Bangalore,Student,2.0,0.0,5.90,5.0,0.0,5-6 hours,Moderate,BSc,No,3.0,2.0,Yes,0
2,26,Male,31.0,Srinagar,Student,3.0,0.0,7.03,5.0,0.0,Less than 5 hours,Healthy,BA,No,9.0,1.0,Yes,0
3,30,Female,28.0,Varanasi,Student,3.0,0.0,5.59,2.0,0.0,7-8 hours,Moderate,BCA,Yes,4.0,5.0,Yes,1
4,32,Female,25.0,Jaipur,Student,4.0,0.0,8.13,3.0,0.0,5-6 hours,Moderate,M.Tech,Yes,1.0,1.0,No,0

## Th√¥ng tin t·ªïng quan
- Ki·ªÉm tra ki·ªÉu d·ªØ li·ªáu c√°c c·ªôt
- Ph√¢n t√≠ch t·ª∑ l·ªá thi·∫øu

In [6]:
# Ki·ªÉu d·ªØ li·ªáu v√† th√¥ng tin t·ªïng quan
df.info()

# T·ª∑ l·ªá thi·∫øu theo c·ªôt
missing_ratio = df.isnull().mean().sort_values(ascending=False)
missing_ratio[missing_ratio > 0]  # Ch·ªâ hi·ªÉn th·ªã c·ªôt c√≥ thi·∫øu

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27901 entries, 0 to 27900
Data columns (total 18 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   id                                     27901 non-null  int64
 1   Gender                                 27901 non-null  object
 2   Age                                    27901 non-null  float64
 3   City                                   27901 non-null  object
 4   Profession                             27901 non-null  object
 5   Academic Pressure                      27901 non-null  float64
 6   Work Pressure                          27901 non-null  float64
 7   CGPA                                   27901 non-null  float64
 8   Study Satisfaction                     27901 non-null  float64
 9   Job Satisfaction                       27901 non-null  float64
 10  Sleep Duration                         27901 non-null  object
 11  Dietary Habits                         27901 non-null  object
 12  Degree                                 27901 non-null  object
 13  Have you ever had suicidal thoughts ?  27901 non-null  object
 14  Work/Study Hours                       27901 non-null  float64
 15  Financial Stress                       27898 non-null  float64
 16  Family History of Mental Illness       27901 non-null  object
 17  Depression                             27901 non-null  int64
dtypes: float64(8), int64(2), object(8)
memory usage: 3.8+ MB

Financial Stress    0.000108
dtype: float64

## Th·ªëng k√™ m√¥ t·∫£
- D√†nh cho c√°c c·ªôt d·∫°ng s·ªë
- Gi√∫p x√°c ƒë·ªãnh ngo·∫°i l·ªá s∆° b·ªô (min/max b·∫•t th∆∞·ªùng)

In [7]:
df.describe()

,id,Age,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Work/Study Hours,Financial Stress,Depression
count,27901.000000,27901.000000,27901.000000,27901.000000,27901.000000,27901.000000,27901.000000,27901.000000,27898.000000,27901.000000
mean,70442.149421,25.822300,3.141214,0.000430,7.656104,2.943837,0.000681,7.156984,3.139867,0.585499
std,40641.175216,4.905687,1.381465,0.043992,1.470707,1.361148,0.044394,3.707642,1.437347,0.492645
min,2.000000,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,35039.000000,21.000000,2.000000,0.000000,6.290000,2.000000,0.000000,4.000000,2.000000,0.000000
50%,70684.000000,25.000000,3.000000,0.000000,7.770000,3.000000,0.000000,8.000000,3.000000,1.000000
75%,105818.000000,30.000000,4.000000,0.000000,8.920000,4.000000,0.000000,10.000000,4.000000,1.000000
max,140699.000000,59.000000,5.000000,5.000000,10.000000,5.000000,4.000000,12.000000,5.000000,1.000000

## Ph√¢n t√≠ch c√°c c·ªôt ph√¢n lo·∫°i
- Hi·ªÉn th·ªã top c√°c gi√° tr·ªã ph·ªï bi·∫øn cho t·ª´ng c·ªôt d·∫°ng `object`
- T√¨m b·∫•t th∆∞·ªùng trong c√°c gi√° tr·ªã nh∆∞ city, degree, gender...

In [8]:
cat_cols = df.select_dtypes(include='object').columns

for col in cat_cols:
    print(f"\nüî∏ {col} (unique: {df[col].nunique()}):")
    print(df[col].value_counts(dropna=False).head(10))

üî∏ Gender (unique: 2):
Gender
Male      15547
Female    12354
Name: count, dtype: int64

üî∏ City (unique: 52):
City
Kalyan         1570
Srinagar       1372
Hyderabad      1340
Vasai-Virar    1290
Lucknow        1155
Thane          1139
Ludhiana       1111
Agra           1094
Surat          1078
Kolkata        1066
Name: count, dtype: int64

üî∏ Profession (unique: 14):
Profession
Student             27870
Architect               8
Teacher                 6
Digital Marketer        3
Content Writer          2
Chef                    2
Doctor                  2
Pharmacist              2
Civil Engineer          1
UX/UI Designer          1
Name: count, dtype: int64

üî∏ Sleep Duration (unique: 5):
Sleep Duration
Less than 5 hours    8310
7-8 hours            7346
5-6 hours            6183
More than 8 hours    6044
Others                 18
Name: count, dtype: int64

üî∏ Dietary Habits (unique: 4):
Dietary Habits
Unhealthy    10317
Moderate      9921
Healthy       7651
Others          12
Name: count, dtype: int64

üî∏ Degree (unique: 28):
Degree
Class 12    6080
B.Ed        1867
B.Com       1506
B.Arch      1478
BCA         1433
MSc         1190
B.Tech      1152
MCA         1044
M.Tech      1022
BHM          925
Name: count, dtype: int64

üî∏ Have you ever had suicidal thoughts ? (unique: 2):
Have you ever had suicidal thoughts ?
Yes    17656
No     10245
Name: count, dtype: int64

üî∏ Family History of Mental Illness (unique: 2):
Family History of Mental Illness
No     14398
Yes    13503
Name: count, dtype: int64

## ƒê·ªãnh h∆∞·ªõng x·ª≠ l√Ω ti·∫øp theo

### C√°c b∆∞·ªõc c·∫ßn l√†m s·∫°ch:

- **City**:
  - C√≥ ch·ª©a **t√™n ng∆∞·ªùi** ho·∫∑c gi√° tr·ªã nhi·ªÖu.
  - C√≥ th·ªÉ c√≥ l·ªói ch√≠nh t·∫£ (`Khaziabad`, `Nalyan`, ...).
  - C·∫ßn **√°nh x·∫° theo c·∫•p ƒë·ªô ƒë√¥ th·ªã ·∫§n ƒê·ªô sang t·ªânh/th√†nh Vi·ªát Nam** theo b·∫£ng quy t·∫Øc ƒë√£ x√°c ƒë·ªãnh.

- **Degree**:
  - B·∫±ng c·∫•p ƒëa d·∫°ng, c√≥ nhi·ªÅu vi·∫øt t·∫Øt.
  - C·∫ßn **√°nh x·∫° sang h·ªá th·ªëng b·∫±ng c·∫•p Vi·ªát h√≥a** r√µ r√†ng theo b·∫£ng chuy·ªÉn ƒë·ªïi chi ti·∫øt.

- **Gender**,**Have you ever had suicidal thoughts ?**,**Family history of mental illness**:
  - C·∫ßn chu·∫©n h√≥a v·ªÅ d·∫°ng nh·ªã ph√¢n `1 (Yes)` v√† `0 (No)` ƒë·ªÉ thu·∫≠n ti·ªán cho m√¥ h√¨nh.

- **C·ªôt d∆∞ th·ª´a c·∫ßn lo·∫°i b·ªè**:
  - `id`: kh√¥ng c√≥ gi√° tr·ªã ph√¢n t√≠ch.
  - `Work Pressure`, `Job Satisfaction`: b·ªã tr√πng l·∫∑p logic v·ªõi c√°c c·ªôt ƒë√£ c√≥ ho·∫∑c kh√¥ng nh·∫•t qu√°n.
  
---

**Ti·∫øp t·ª•c v·ªõi**:  
`01_data_cleaning.ipynb` ƒë·ªÉ x·ª≠ l√Ω v√† l√†m s·∫°ch d·ªØ li·ªáu nhi·ªÖu tr∆∞·ªõc khi th·ª±c hi·ªán m√£ h√≥a (`Label Encoding`) v√† tr√≠ch xu·∫•t ƒë·∫∑c tr∆∞ng.